<section class="bg-primary p-8 text-center">
    <h2 class="text-3xl font-bold mb-8 text-secondary">
        Discover the Power of Design Workshops
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <!-- Repeat for each workshop -->
        <div class="bg-secondary p-4 rounded-lg shadow-lg text-center">
            <img src="path/to/laptop-code-icon.png" alt="Laptop Code Icon" class="text-4xl mb-4 mx-auto">
            <h3 class="text-xl font-bold mb-2 text-primary">
                Master Web Development with AI Workshops
            </h3>
            <p class="text-primary mb-4">
                Take your web development skills to the next level with AI.
            </p>
            <button class="bg-accent text-white px-4 py-2">Sign Up</button>
        </div>
        <!-- Repeat for each workshop -->
    </div>
</section>
