<section class="bg-secondary p-8 text-center">
    <h2 class="text-3xl font-bold mb-8">Upcoming Events</h2>
    <table class="w-full bg-white border border-gray-200">
        <thead>
            <tr class="bg-gray-100">
                <th class="p-4 border-b border-gray-200">Event</th>
                <th class="p-4 border-b border-gray-200">Date</th>
                <th class="p-4 border-b border-gray-200">Time</th>
                <th class="p-4 border-b border-gray-200">Location</th>
                <th class="p-4 border-b border-gray-200">Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Repeat for each event -->
            <tr>
                <td class="p-4 border-b border-gray-200">AI Workshop</td>
                <td class="p-4 border-b border-gray-200">12/01/2023</td>
                <td class="p-4 border-b border-gray-200">10:00 AM</td>
                <td class="p-4 border-b border-gray-200">Online</td>
                <td class="p-4 border-b border-gray-200">
                    <button class="bg-accent text-white px-4 py-2">
                        Register
                    </button>
                </td>
            </tr>
            <!-- Repeat for each event -->
        </tbody>
    </table>
</section>
