<section class="bg-secondary p-8 text-center">
    <h2 class="text-3xl font-bold mb-8">
        Find the Perfect Workshop for Your Field and Skill Level
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <!-- Repear for each workshop -->
        <div class="bg-white p-4 rounded-lg shadow-lg">
            <img
                alt="Workshop 1 Image"
                class="w-full mb-4"
                height="200"
                src="{{image}}"
                width="300"
            />
            <h3 class="text-xl font-bold mb-2">
                Explore AI Integration in Web Development
            </h3>
            <p class="text-primary mb-4">
                Learn how to integrate AI into your web development projects.
            </p>
            <button class="bg-accent text-white px-4 py-2">Sign Up</button>
        </div>
        <!-- Repear for each workshop -->
    </div>
</section>
