<section class="bg-secondary p-8 text-center">
  <h1 class="text-4xl font-bold mb-4">Unlock Your Potential with AI-Powered Workshops</h1>
  <p class="text-primary mb-4">Join our immersive workshops and elevate your skills with cutting-edge AI technology.</p>
  <div class="flex justify-center">
    <img alt="Workshop Image" class="w-full max-w-2xl" height="400" src="{{image}}" width="600"/>
  </div>
  <div class="mt-4">
    <button class="bg-accent text-white px-4 py-2 mr-2">Learn More</button>
    <button class="bg-white text-primary border border-primary px-4 py-2">Sign Up</button>
  </div>
</section>
