<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            primary: "#1A1A1A", // Example color for primary text
                            secondary: "#F8F9FA", // Example color for backgrounds
                            accent: "#FF5733", // Example accent color
                            // Add other colors as needed
                        },
                        fontFamily: {
                            sans: ["Inter", "sans-serif"], // Example font family
                            serif: ["Merriweather", "serif"],
                        },
                        fontSize: {
                            "2xl": ["1.5rem", { lineHeight: "2rem" }],
                            "3xl": ["2rem", { lineHeight: "2.5rem" }],
                            // Add other font sizes as needed
                        },
                        spacing: {
                            18: "4.5rem",
                            22: "5.5rem",
                            // Add other spacing values as needed
                        },
                        maxWidth: {
                            "screen-xl": "1280px",
                            "screen-2xl": "1536px",
                        },
                    },
                },
            };
        </script>
    </head>
    <body>
        <header
            class="bg-primary text-white p-4 flex justify-between items-center"
        >
            <div class="text-2xl font-bold">Logo</div>
            <nav>
                <ul class="flex space-x-4">
                    <li><a class="text-secondary" href="#">About</a></li>
                    <li><a class="text-secondary" href="#">Services</a></li>
                    <li><a class="text-secondary" href="#">Contact</a></li>
                </ul>
            </nav>
            <button class="bg-accent text-white px-4 py-2">Sign In</button>
        </header>

        <main>{{content}}</main>

        <!-- Footer -->
        <footer class="bg-secondary text-primary p-8 text-center">
          <div class="grid grid-cols-1 md:grid-cols-4 gap-8 mb-8">
            <div>
              <h3 class="text-xl font-bold mb-4">About</h3>
              <ul>
                <li><a class="text-primary" href="#">Company</a></li>
                <li><a class="text-primary" href="#">Team</a></li>
                <li><a class="text-primary" href="#">Careers</a></li>
                <li><a class="text-primary" href="#">Blog</a></li>
              </ul>
            </div>
            <div>
              <h3 class="text-xl font-bold mb-4">Services</h3>
              <ul>
                <li><a class="text-primary" href="#">Workshops</a></li>
                <li><a class="text-primary" href="#">Consulting</a></li>
                <li><a class="text-primary" href="#">Support</a></li>
                <li><a class="text-primary" href="#">Custom Solutions</a></li>
              </ul>
            </div>
            <div>
              <h3 class="text-xl font-bold mb-4">Events</h3>
              <ul>
                <li><a class="text-primary" href="#">Upcoming Events</a></li>
                <li><a class="text-primary" href="#">Past Events</a></li>
                <li><a class="text-primary" href="#">Webinars</a></li>
                <li><a class="text-primary" href="#">Workshops</a></li>
              </ul>
            </div>
            <div>
              <h3 class="text-xl font-bold mb-4">Contact</h3>
              <ul>
                <li><a class="text-primary" href="#">Email</a></li>
                <li><a class="text-primary" href="#">Phone</a></li>
                <li><a class="text-primary" href="#">Office</a></li>
                <li><a class="text-primary" href="#">Support</a></li>
              </ul>
            </div>
          </div>
          <div class="text-primary">
            <p>© 2023 Label34. All rights reserved.</p>
          </div>
        </footer>
    </body>
</html>
