<section class="bg-gray-100 p-8 text-center">
    <h2 class="text-3xl font-bold mb-4">
        Label34 Workshops: Elevate Your Skills with AI Integration in
        Professional Workflows
    </h2>
    <p class="text-primary mb-4">
        Discover how AI can transform your professional workflow and enhance
        your productivity.
    </p>
    <div class="flex justify-center">
        <img
            alt="AI Integration Image"
            class="w-full max-w-2xl"
            height="400"
            src="{{image}}"
            width="600"
        />
    </div>
</section>
