<section class="bg-primary text-secondary p-8 text-center">
  <h2 class="text-3xl font-bold mb-8">{{title}}</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <div class="bg-white p-4 rounded-lg shadow-lg">
      <img src="{{image}}" alt="Email Icon" class="mx-auto mb-4" style="width: 32px; height: 32px;">
      <h3 class="text-xl font-bold mb-2 text-primary">Email</h3>
      <p class="text-primary mb-4">info@label34.com</p>
    </div>
  </div>
  <div class="mt-8">
    <h3 class="text-xl font-bold mb-2">Get Exclusive Updates</h3>
    <form class="flex justify-center">
      <input class="border border-gray-300 p-2 mr-2" placeholder="Enter your email" type="email"/>
      <button class="bg-accent text-white px-4 py-2">Subscribe</button>
    </form>
  </div>
</section>
