<section class="bg-gray-100 p-8 text-center">
    <div class="flex flex-col md:flex-row items-center">
        <div class="md:w-1/2 p-4">
            <img
                alt="Industry Applications Image"
                class="w-full"
                height="400"
                src="{{image}}"
                width="600"
            />
        </div>
        <div class="md:w-1/2 p-4 text-left">
            <h2 class="text-3xl font-bold mb-4">
                Transforming Industries with AI Applications
            </h2>
            <p class="text-primary mb-4">
                Explore how AI is revolutionizing various industries and driving
                innovation.
            </p>
            <ul class="list-disc list-inside mb-4 text-primary">
                <!-- Repeat for each key point -->
                <li>{{keyPoint}}</li>
                <!-- Repeat for each key point -->
            </ul>
            <button class="bg-accent text-white px-4 py-2 mr-2">
                Learn More
            </button>
            <button
                class="bg-white text-primary border border-primary px-4 py-2"
            >
                Sign Up
            </button>
        </div>
    </div>
</section>
