<section class="bg-gray-100 p-8 text-center">
    <h2 class="text-3xl font-bold mb-8">What Our Participants Say</h2>
    <div class="flex justify-center">
        <div class="bg-white p-4 max-w-xl rounded-lg shadow-lg">
            <p class="text-primary mb-4">
                "Label34's Workshops have been a game-changer for me. The
                practical knowledge and skills I gained have significantly
                improved my work quality and productivity."
            </p>
            <div class="flex items-center justify-center">
                <img
                    alt="Participant Image"
                    class="rounded-full mr-4"
                    height="50"
                    src="{{image}}"
                    width="50"
                />
                <div>
                    <p class="font-bold">John Doe</p>
                    <p class="text-gray-500">Web Developer</p>
                </div>
            </div>
        </div>
    </div>
</section>
